services:
  test:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: matrix-test
    volumes: 
      - ./results:/app/results
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "distributed_matrix_multiplication.py"]
    profiles:
      - test

  benchmark: 
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: matrix-benchmark
    volumes: 
      - ./results:/app/results
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "benchmark.py"]

  report:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name:  matrix-report
    volumes: 
      - ./results:/app/results
    environment:
      - PYTHONUNBUFFERED=1
    command: ["python", "generate_report.py"]
    depends_on:
      benchmark: 
        condition: service_completed_successfully